.certificates-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0px 30px 30px 30px;
      margin: auto;
}

.certificates {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      justify-content: center;
}

.certificate {
      display: flex;
      align-items: center;
      padding: 10px 30px;
      border-radius: 20px;
      background: rgb(238, 220, 162);
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.certificate ul {
      padding-left: 20px;
}

.certificate-info {
      margin: 3px;
      color: gray;
}

.certificate-heading {
      font-size: 18px;
      font-weight: 600;
      color: black;
      margin-bottom: 10px;
      width: 220px;
}

.certificate-link {
      margin-top: 25px;
}

.certificate-link a {
      border-radius: 22px;
      padding: 10px;
      background: rgb(236, 174, 57);
      color: white;
}

.certificates-logo {
      width: 70px;
}

.certificates-logo img{
      width: 100%;
}

@media all and (max-width: 400px) {
      

      .certificate-heading {
            max-width: 180px;
      }
}

