.my-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: auto;
}

.project-card {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    margin-bottom: 40px;
    box-shadow: 10px 12px 10px black;
}

.project-card-photo {
    width: 500px;
}

.project-card-photo img {
    width: 100%;
}

.project-card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.technologies {
    display: flex;
    flex-direction: row;
}

.technology {
    width: 30px;
    margin-left: 5px;
}

.technology img {
    width: 100%;
}

