.my-projects-page {
    max-width: 1200px;
    margin: auto;
}

.my-projects-page-main-heading {
    padding-left: 50px;
    font-size: 26px;
}

.my-projects-page-sub-heading {
    padding-left: 50px;
    font-size: 18px;
    color: gray;
    text-shadow: 0px 1px black;
}

.my-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    box-shadow: 10px 12px 10px black;
    margin: 40px auto;
}

.project-card-photo {
    width: 500px;
}

.project-card-photo img {
    width: 100%;
}

.project-card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.technologies {
    display: flex;
    flex-direction: row;
}

.technology {
    width: 30px;
    margin-left: 5px;
}

.technology img {
    width: 100%;
}

@media all and (max-width: 1170px) {
    .project-card-photo {
        width: 400px;
    }

    .my-projects-page-main-heading,
    .my-projects-page-sub-heading {
        text-align: center;
        padding: 0px 20px;
    }
}

@media all and (max-width: 976px) {
    .project-card-photo {
        width: 350px;
    }
}

@media all and (max-width: 870px) {
    .project-card-photo {
        width: 500px;
    }
}

@media all and (max-width: 640px) {
    .project-card-photo {
        width: 400px;
    }
}

@media all and (max-width: 520px) {
    .project-card-photo {
        width: 300px;
    }

    .project-card-photo h2 {
        font-size: 12px;
    }
}