.project-details-header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-image {
    width: 75%;
}

.project-image img {
    width: 100%;
}

.project-urls :nth-child(2) {
    background: black;
}

.project-link {
    padding: 10px 15px;
    background: red;
    color: white;
    border-radius: 18px;
    margin: 10px;
}

.project-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.project-technologies {
    display: flex;
    margin: 30px;
}

.project-description {
    width: 75%;
    margin: auto;
    text-align: justify;
    margin-bottom: 50px;
}

@media all and (max-width: 630px) {
    .project-info {
        flex-direction: column;
        margin-top: 40px;
    }

    .project-technologies {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}