.header-navigation {
    display: flex;
    justify-content: space-between;
    padding: 40px 70px;
    align-items: center;
}

.nav-heading {
    margin: 0;
    flex-basis: 32%;
    text-align: center;
    font-size: 36px;
    background: linear-gradient(to right, black, orange);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header-navigation ul {
    display: flex;
    justify-content: flex-end;
    flex-basis: 68%;
    margin: 0;
}

.header-navigation li {
    list-style: none;
    margin-right: 100px;
}

.header-navigation a {
    text-decoration: none;
    font-size: 19px;
    color: black;
}



@media all and (max-width: 1240px) {
    .header-navigation,
    .header-navigation ul {
        flex-direction: column;
        padding: 20px;
    }
    
    .header-navigation li {
        list-style: none;
        margin:auto;
        padding: 10px;
    }
}