.header-navigation {
    display: flex;
    justify-content: space-between;
    padding: 40px 70px;
    align-items: center;
    position: sticky;
    top: 0;
    background: rgb(229, 224, 224);
    z-index: 999;
}

.nav-heading {
    margin: 0;
    flex-basis: 32%;
    text-align: center;
    font-size: 36px;
    background: linear-gradient(to right, black, orange);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.navigation {
    flex-basis: 68%;
}

.navigation-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    margin-right: 50px;

}

.nav-link {
    list-style: none;
    margin-left: 50px;
}

.nav-link a {
    text-decoration: none;
    font-size: 19px;
    color: black;
}

.nav-icon {
    display: none;
}

@media all and (max-width: 1020px) {
    .navigation-list {
        margin-right: 0;
    }

    .nav-link {
        margin-left: 25px;
    }
}

@media all and (max-width: 816px) {
    .nav-heading {
        flex-basis: 50%;
    }

    .navigation {
        flex-basis: 10%;
        position: relative;
    }

    .navigation-list {
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        background: rgb(229, 224, 224);
        align-items: center;
        left: -90px;
        padding: 0;
    }

    .nav-link {
        text-align: right;
        width: 120px;
        margin: 40px;
        text-align: center;
    }

    .nav-icon {
        display: flex;
        font-size: 28px;
    }
}

@media all and (max-width: 700px) {
    .nav-heading {
        flex-basis: 90%;
        text-align: left;
        max-width: 250px;
    }

    .navigation {
        flex-basis: 10%;
    }
}

@media all and (max-width: 700px) {
    .nav-link {
        margin: 40px 0px;
        text-align: right;
    }
}

@media all and (max-width: 440px) {
    .header-navigation {
        padding: 30px 50px;
    }
}

@media all and (max-width: 385px) {
    .header-navigation {
        padding: 20px 40px;
    }

    .nav-heading {
        font-size: 32px;
    }
}

@media all and (max-width: 343px) {
    .header-navigation {
        flex-direction: column;
    }

    .navigation {
        padding: 0px;
        margin-top: 15px;

    }

    .nav-link {
        margin: 40px;
        text-align: center;
    }
}